[submodule "lib/googletest"]
	path = lib/googletest
	url = https://git.chromium.org/git/external/googletest.git
[submodule "lib/thread"]
	path = lib/thread
	url = https://github.com/boostorg/thread.git
