syntax: glob

.DS_Store

*.bak
*.orig
*~

build
bin
obj
release
ipch
src/host/scripts.c
**.lnt
**.vlstatus

Makefile
*.make
*.xcodeproj
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.opensdf
*.workspace
*.project
*.tags
 *.sublime-workspace

*.bbprojectsettings
Scratchpad.txt
Unix Worksheet.worksheet
project.bbprojectdata
Premake4.tmproj

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
